
@{
    ViewBag.Title = "LmitateArduino";
}

<h2>模擬 Arduino 發送到Server.</h2>

<div>
    <form action="/ArduinoDataProcess/DataProcess" method="post">
        <div class="form-group">
            <label for="StringData">Data(打包的字串) <br /><b>魚缸編號/溫度/濁度/PH/TDS/水位</b></label><br />
            <input type="text" id="StringData" name="StringData" style="width:400px;height:30px;" maxlength="40" required>
        </div>
        <button type="submit" class="btn btn-primary" id="buttonCon">確定</button>
    </form>
</div>