
@{
    ViewBag.Title = "DelectConfirmation";
    var DelectConfirmation = ViewBag.UnitNum;
}

<h2>是否確認解除該魚缸 _ @DelectConfirmation</h2>

<div style="margin-left:30px;font-size:170%;font-weight:bold">
    @Html.ActionLink("解除該魚缸的綁定狀態.", "DelectConfirmation", "Statistics009", new { area = "Statistics", href = "ConfirmationOK?DelectConfirmation=" + DelectConfirmation })
</div>
