
@{
    ViewBag.Title = "Error";
}

<h2 style="font-weight:bold">參數異常</h2>
<div class="notiveArea" style="margin-left:10px">
    <h3 style="font-size:220%;margin-left:20px;">範圍通知設置參數異常!<br />發現有非數字的內容。</h3>
    <h3 style="margin: 10px 30px;"> <a href="/NotifyByMail/SetAreaRange" class="btn btn-info">返回設置頁面</a></h3>
</div>


