
@{
    ViewBag.Title = "Success";
}

<div class="notiveArea">
    <h3 style="font-size:220%;font-weight:bold;margin-left:20px;">範圍通知設置完成!</h3>
    <h3 style="margin: 10px 30px;"> <a href="Bind" class="btn btn-info">否!&nbsp;&nbsp;返回設置頁面</a></h3>
</div>

