
@{
    ViewBag.Title = "CreateSuccess";
}
<style>
    a {
        font-size: 25px;
        color: blue;
    }

    p {
        margin-left:40px;
    }
    h2 {
        margin-left: 20px;
    }
</style>
<h2>註冊成功~!</h2>

<p>
    <a href="/LogInAndRegister/CreateOrLogIn">
        請使用新註冊的Email與Password到登入介面進行登入
    </a>
</p>

